{% extends 'base.html' %}

{% block title %}
    Add Notes
{% endblock title %}
{% block content %}
    <main>
        <div class = "note-form">
            <h1>Add a note</h1>
            <form method = "post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Add</button>
            </form>
        </div>
    </main>
{% endblock content %}
