{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class = "my-tasks-list">
            <h1>My Tasks</h1>
            {% if task_list %}
                <table class = "tasks_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed | yesno:"yes, no" }}</td>
                                {% if task.note%}
                                <td>{{task.note}}</td>
                                {%else%}
                                <td><a href="{% url "create_note"%}">Add notes</a>
                                {%endif%}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
